- if block['image']
  .image.align-center
    = image_tag block['image']['display']
%h2
  = link_to block['generated_title'], url_for(:blocks, :show, :id => slug_encode(block['id'].to_s)), :class => 'permalink'

- if block['content'] 
  .content
    = block['content']

- if block['description']
  .description
    = block['description']

