- if block['title']
  .title= block['title']

- if block['description']
  .description= block['description']

- if block['source_url']
  .source= link_to block['source_url'], block['source_url'], :target => '_blank'