- if block['title']
  .title.tk-franklin-gothic-urw= block['title']

- if block['description']
  .description= block['description']

- if block['source_url']
  .source.tk-franklin-gothic-urw= link_to block['source_url'], block['source_url'], :target => '_blank'