!!!  
%html
  %head
    %title blog.are.na
    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :src => asset_path('application.js') }
    %script{ :src => 'jst.js' }
    %link{ :rel => 'stylesheet', :href => asset_path('application.css') }
%body
  #container
    = yield
    #render
