= partial 'layouts/navigation', :locals => { :channels => '' }

- content_for :main do
  .representation{ :class => @block['block_type'].downcase }
    = partial "representations/full/#{@block['block_type'].downcase}", :locals => { "#{@block['block_type'].downcase}".to_sym => @block }