= partial 'layouts/navigation', :locals => { :channels => @channels, :blocks => @blocks }

- content_for :main do
  = partial "representations/#{@block['block_type'].downcase}", :locals => { "#{@block['block_type'].downcase}".to_sym => @block }