@import "mixins";

// BASE
// ----
* { @include border-box; }

@mixin selection { background: #000; color: #eee; text-shadow: none; }
::-moz-selection { @include selection; }
::selection { @include selection; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: $sans;
  font-size: $font-size;
  line-height: $unit;
}

a {
  text-decoration: none;
  color: inherit;
}

object,
embed,
iframe,
img {
  margin: 0;
  vertical-align: bottom;
}

blockquote {
  margin: 0;
  padding-left: $unit;
  border-left: 2px solid;
}

li, ul {
  margin: 0;
  padding: 0;
}

// STRUCTURE
// ---------

// UTIL
// ----
.align-center { text-align: center; }